In [1]:
import numpy as np
import pandas as pd

PATH_COLLECTION_DATA = '/home/guilherme/workspace/feup-ir-project/data/subtask_4b/subtask4b_collection_data.pkl'

df_collection = pd.read_pickle(PATH_COLLECTION_DATA)
df_collection.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7718 entries, 162 to 1056448
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   cord_uid          7718 non-null   object
 1   source_x          7718 non-null   object
 2   title             7718 non-null   object
 3   doi               7677 non-null   object
 4   pmcid             4959 non-null   object
 5   pubmed_id         6233 non-null   object
 6   license           7718 non-null   object
 7   abstract          7718 non-null   object
 8   publish_time      7715 non-null   object
 9   authors           7674 non-null   object
 10  journal           6668 non-null   object
 11  mag_id            0 non-null      float64
 12  who_covidence_id  528 non-null    object
 13  arxiv_id          20 non-null     object
 14  label             7718 non-null   object
 15  time              7715 non-null   datetime64[ns]
 16  timet             7718 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(14)
memory usage: 1.1+ MB

In [2]:
PATH_QUERY_DATA = '/home/guilherme/workspace/feup-ir-project/data/subtask_4b/subtask4b_query_tweets.tsv'
df_query = pd.read_csv(PATH_QUERY_DATA, sep = '\t')
df_query.head()

                                          tweet_text  cord_uid
0  Oral care in rehabilitation medicine: oral vul...  htlvpvz5
1  this study isn't receiving sufficient attentio...  4kfl29ul
2  thanks, xi jinping. a reminder that this study...  jtwb17u8
3  Taiwan - a population of 23 million has had ju...  0w9k8iy1
4  Obtaining a diagnosis of autism in lower incom...  tiqksd69

In [3]:
sub_df_query = df_query[:100]
sub_df_query.head()

                                          tweet_text  cord_uid
0  Oral care in rehabilitation medicine: oral vul...  htlvpvz5
1  this study isn't receiving sufficient attentio...  4kfl29ul
2  thanks, xi jinping. a reminder that this study...  jtwb17u8
3  Taiwan - a population of 23 million has had ju...  0w9k8iy1
4  Obtaining a diagnosis of autism in lower incom...  tiqksd69

In [4]:
from tqdm import tqdm
from rankers.cross_embedding_ranker import CrossRanker

tqdm.pandas()

cord_uids = df_collection[:]['cord_uid'].tolist()
cross_ranker = CrossRanker()

def get_top_cord_uids(query):
    doc_scores = cross_ranker.get_scores(query, df_collection)
    indices = np.argsort(-doc_scores)[:1000]
    cross_topk = [cord_uids[x] for x in indices]

    return cross_topk

# Retrieve topk candidates using the BM25 model
sub_df_query['cross'] = sub_df_query['tweet_text'].progress_apply(lambda x: get_top_cord_uids(x))

DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): huggingface.co:443
DEBUG:urllib3.connectionpool:https://huggingface.co:443 "HEAD /allenai/scibert_scivocab_cased/resolve/main/tokenizer_config.json HTTP/1.1" 404 0
DEBUG:urllib3.connectionpool:https://huggingface.co:443 "HEAD /allenai/scibert_scivocab_cased/resolve/main/config.json HTTP/1.1" 200 0
DEBUG:urllib3.connectionpool:https://huggingface.co:443 "HEAD /allenai/scibert_scivocab_cased/resolve/main/tokenizer_config.json HTTP/1.1" 404 0
DEBUG:urllib3.connectionpool:https://huggingface.co:443 "HEAD /allenai/scibert_scivocab_cased/resolve/main/vocab.txt HTTP/1.1" 200 0
100%|██████████| 100/100 [5:21:01<00:00, 192.61s/it]
/tmp/ipykernel_1768/105844252.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_df_query['cross'] = sub_df_query['tweet_text'].progress_apply(lambda x: get_top_cord_uids(x))

In [5]:
def get_performance_mrr(data, col_gold, col_pred, list_k = [1, 5, 10]):
    d_performance = {}
    for k in list_k:
        data["in_topx"] = data.apply(lambda x: (1/([i for i in x[col_pred][:k]].index(x[col_gold]) + 1) if x[col_gold] in [i for i in x[col_pred][:k]] else 0), axis=1)
        d_performance[k] = data["in_topx"].mean()
    return d_performance

results = get_performance_mrr(sub_df_query, 'cord_uid', 'cross')
# Printed MRR@k results in the following format: {k: MRR@k}
print(">>>")
print(results)
print("<<<")

>>>
{1: np.float64(0.71), 5: np.float64(0.7645000000000001), 10: np.float64(0.7693888888888888)}
<<<

/tmp/ipykernel_1768/1153424369.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["in_topx"] = data.apply(lambda x: (1/([i for i in x[col_pred][:k]].index(x[col_gold]) + 1) if x[col_gold] in [i for i in x[col_pred][:k]] else 0), axis=1)