Read Collection Pickle

In [2]:
import numpy as np
import pandas as pd

# 1) Download the collection set from the Gitlab repository: https://gitlab.com/checkthat_lab/clef2025-checkthat-lab/-/tree/main/task4?ref_type=heads
# 2) Drag and drop the downloaded file to the "Files" section (left vertical menu on Colab)
# 3) Modify the path to your local file path
PATH_COLLECTION_DATA = '/home/guilherme/workspace/feup-ir-project/data/subtask_4b/subtask4b_collection_data.pkl' #MODIFY PATH
df_collection = pd.read_pickle(PATH_COLLECTION_DATA)
df_collection.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7718 entries, 162 to 1056448
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   cord_uid          7718 non-null   object
 1   source_x          7718 non-null   object
 2   title             7718 non-null   object
 3   doi               7677 non-null   object
 4   pmcid             4959 non-null   object
 5   pubmed_id         6233 non-null   object
 6   license           7718 non-null   object
 7   abstract          7718 non-null   object
 8   publish_time      7715 non-null   object
 9   authors           7674 non-null   object
 10  journal           6668 non-null   object
 11  mag_id            0 non-null      float64
 12  who_covidence_id  528 non-null    object
 13  arxiv_id          20 non-null     object
 14  label             7718 non-null   object
 15  time              7715 non-null   datetime64[ns]
 16  timet             7718 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(14)
memory usage: 1.1+ MB

In [3]:
df_collection.head()

,cord_uid,source_x,title,doi,pmcid,pubmed_id,license,abstract,publish_time,authors,journal,mag_id,who_covidence_id,arxiv_id,label,time,timet
162,umvrwgaw,PMC,Professional and Home-Made Face Masks Reduce E...,10.1371/journal.pone.0002618,PMC2440799,18612429,cc-by,BACKGROUND: Governments are preparing for a po...,2008-07-09,"van der Sande, Marianne; Teunis, Peter; Sabel,...",PLoS One,NaN,NaN,NaN,umvrwgaw,2008-07-09,1215561600
611,spiud6ok,PMC,The Failure of R (0),10.1155/2011/527610,PMC3157160,21860658,cc-by,"The basic reproductive ratio, R (0), is one of...",2011-08-16,"Li, Jing; Blakeley, Daniel; Smith?, Robert J.",Comput Math Methods Med,NaN,NaN,NaN,spiud6ok,2011-08-16,1313452800
918,aclzp3iy,PMC,Pulmonary sequelae in a patient recovered from...,10.4103/0970-2113.99118,PMC3424870,22919170,cc-by-nc-sa,The pandemic of swine flu (H1N1) influenza spr...,2012,"Singh, Virendra; Sharma, Bharat Bhushan; Patel...",Lung India,NaN,NaN,NaN,aclzp3iy,2012-01-01,1325376000
993,ycxyn2a2,PMC,What was the primary mode of smallpox transmis...,10.3389/fcimb.2012.00150,PMC3509329,23226686,cc-by,The mode of infection transmission has profoun...,2012-11-29,"Milton, Donald K.",Front Cell Infect Microbiol,NaN,NaN,NaN,ycxyn2a2,2012-11-29,1354147200
1053,zxe95qy9,PMC,"Lessons from the History of Quarantine, from P...",10.3201/eid1902.120312,PMC3559034,23343512,no-cc,"In the new millennium, the centuries-old strat...",2013-02-03,"Tognotti, Eugenia",Emerg Infect Dis,NaN,NaN,NaN,zxe95qy9,2013-02-03,1359849600

Process Query File

In [4]:
# 1) Download the query tweets from the Gitlab repository: https://gitlab.com/checkthat_lab/clef2025-checkthat-lab/-/tree/main/task4?ref_type=heads
# 2) Drag and drop the downloaded file to the "Files" section (left vertical menu on Colab)
# 3) Modify the path to your local file path
PATH_QUERY_DATA = '/home/guilherme/workspace/feup-ir-project/data/subtask_4b/subtask4b_query_tweets.tsv' #MODIFY PATH
df_query = pd.read_csv(PATH_QUERY_DATA, sep = '\t')
df_query.head()

                                          tweet_text  cord_uid
0  Oral care in rehabilitation medicine: oral vul...  htlvpvz5
1  this study isn't receiving sufficient attentio...  4kfl29ul
2  thanks, xi jinping. a reminder that this study...  jtwb17u8
3  Taiwan - a population of 23 million has had ju...  0w9k8iy1
4  Obtaining a diagnosis of autism in lower incom...  tiqksd69

In [5]:
df_query.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14253 entries, 0 to 14252
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_text  14253 non-null  object
 1   cord_uid    14253 non-null  object
dtypes: object(2)
memory usage: 222.8+ KB

In [10]:
from sklearn.model_selection import train_test_split

TRAINING_SPLIT_SIZE = 0.8

df_training_set, df_test_set = train_test_split(df_query, test_size=0.2)

print("--- Training")
df_training_set.info()
print("--- Test")
df_test_set.info()

--- Training
<class 'pandas.core.frame.DataFrame'>
Index: 11402 entries, 8829 to 3014
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_text  11402 non-null  object
 1   cord_uid    11402 non-null  object
dtypes: object(2)
memory usage: 267.2+ KB
--- Test
<class 'pandas.core.frame.DataFrame'>
Index: 2851 entries, 14162 to 1673
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_text  2851 non-null   object
 1   cord_uid    2851 non-null   object
dtypes: object(2)
memory usage: 66.8+ KB

In [53]:
df_training_set.head()

                                              tweet_text  cord_uid
8829   Among hospitalized COVID-19 patients, pre-infe...  7hq10f2a
3986   3. The pandemic has led to a surge in acute #c...  zouscolw
260    Final assessment in  on remdesivir.  some smal...  uohbxoeb
12125  The psychological effects of the coronavirus p...  prqrsb3c
7639   Neurochemical evidence of astrocytic and neuro...  8l2zo1nm

In [26]:
df_collection.head()

,cord_uid,source_x,title,doi,pmcid,pubmed_id,license,abstract,publish_time,authors,journal,mag_id,who_covidence_id,arxiv_id,label,time,timet
162,umvrwgaw,PMC,Professional and Home-Made Face Masks Reduce E...,10.1371/journal.pone.0002618,PMC2440799,18612429,cc-by,BACKGROUND: Governments are preparing for a po...,2008-07-09,"van der Sande, Marianne; Teunis, Peter; Sabel,...",PLoS One,NaN,NaN,NaN,umvrwgaw,2008-07-09,1215561600
611,spiud6ok,PMC,The Failure of R (0),10.1155/2011/527610,PMC3157160,21860658,cc-by,"The basic reproductive ratio, R (0), is one of...",2011-08-16,"Li, Jing; Blakeley, Daniel; Smith?, Robert J.",Comput Math Methods Med,NaN,NaN,NaN,spiud6ok,2011-08-16,1313452800
918,aclzp3iy,PMC,Pulmonary sequelae in a patient recovered from...,10.4103/0970-2113.99118,PMC3424870,22919170,cc-by-nc-sa,The pandemic of swine flu (H1N1) influenza spr...,2012,"Singh, Virendra; Sharma, Bharat Bhushan; Patel...",Lung India,NaN,NaN,NaN,aclzp3iy,2012-01-01,1325376000
993,ycxyn2a2,PMC,What was the primary mode of smallpox transmis...,10.3389/fcimb.2012.00150,PMC3509329,23226686,cc-by,The mode of infection transmission has profoun...,2012-11-29,"Milton, Donald K.",Front Cell Infect Microbiol,NaN,NaN,NaN,ycxyn2a2,2012-11-29,1354147200
1053,zxe95qy9,PMC,"Lessons from the History of Quarantine, from P...",10.3201/eid1902.120312,PMC3559034,23343512,no-cc,"In the new millennium, the centuries-old strat...",2013-02-03,"Tognotti, Eugenia",Emerg Infect Dis,NaN,NaN,NaN,zxe95qy9,2013-02-03,1359849600

In [72]:
positive_metadata = pd.DataFrame(columns=df_collection.columns)
query = []
for idx, row in df_training_set.iterrows():
    entry_cord_id = row.cord_uid
    query.append(row.tweet_text)
    positive_metadata = pd.concat([positive_metadata, df_collection.loc[df_collection["cord_uid"] == entry_cord_id]], ignore_index=True)

cls = [1] * len(positive_metadata)
positive_metadata["class"] = cls
positive_metadata["query"] = query
positive_metadata.info()

/tmp/ipykernel_6163/1447627209.py:6: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  positive_metadata = pd.concat([positive_metadata, df_collection.loc[df_collection["cord_uid"] == entry_cord_id]], ignore_index=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11402 entries, 0 to 11401
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   cord_uid          11402 non-null  object
 1   source_x          11402 non-null  object
 2   title             11402 non-null  object
 3   doi               11349 non-null  object
 4   pmcid             7483 non-null   object
 5   pubmed_id         9334 non-null   object
 6   license           11402 non-null  object
 7   abstract          11402 non-null  object
 8   publish_time      11400 non-null  object
 9   authors           11341 non-null  object
 10  journal           9870 non-null   object
 11  mag_id            0 non-null      object
 12  who_covidence_id  662 non-null    object
 13  arxiv_id          42 non-null     object
 14  label             11402 non-null  object
 15  time              11400 non-null  datetime64[ns]
 16  timet             11402 non-null  object
 17  class             11402 non-null  int64
 18  query             11402 non-null  object
dtypes: datetime64[ns](1), int64(1), object(17)
memory usage: 1.7+ MB

In [ ]:
NUM_NEGATIVE_SAMPLES = 5

negative_metadata = pd.DataFrame(columns=df_collection.columns)
query = []

for idx, row in df_training_set.iterrows():
    entry_cord_id = row.cord_uid
    repeated_queries = [row.tweet_text] * NUM_NEGATIVE_SAMPLES
    query += repeated_queries
    negative_samples = df_collection.loc[df_collection["cord_uid"] != entry_cord_id]
    negative_samples = negative_samples.sample(NUM_NEGATIVE_SAMPLES)
    negative_metadata = pd.concat([negative_metadata, negative_samples], ignore_index=True)

cls = [0] * len(negative_metadata)
negative_metadata["class"] = cls
negative_metadata["query"] = query
negative_metadata.head()

/tmp/ipykernel_6163/2158711569.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  negative_metadata = pd.concat([negative_metadata, negative_samples], ignore_index=True)

In [68]:
mixed_training_set = pd.concat([negative_metadata, positive_metadata], ignore_index=True)
mixed_training_set.info()

mixed_training_set.to_csv('data/training/tweets.tsv',sep='\t')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   cord_uid          30 non-null     object
 1   source_x          30 non-null     object
 2   title             30 non-null     object
 3   doi               30 non-null     object
 4   pmcid             23 non-null     object
 5   pubmed_id         25 non-null     object
 6   license           30 non-null     object
 7   abstract          30 non-null     object
 8   publish_time      30 non-null     object
 9   authors           30 non-null     object
 10  journal           28 non-null     object
 11  mag_id            0 non-null      object
 12  who_covidence_id  0 non-null      object
 13  arxiv_id          0 non-null      object
 14  label             30 non-null     object
 15  time              30 non-null     datetime64[ns]
 16  timet             30 non-null     object
 17  class             30 non-null     int64
 18  query             30 non-null     object
dtypes: datetime64[ns](1), int64(1), object(17)
memory usage: 4.6+ KB