Read Collection Pickle

In [1]:
import numpy as np
import pandas as pd

# 1) Download the collection set from the Gitlab repository: https://gitlab.com/checkthat_lab/clef2025-checkthat-lab/-/tree/main/task4?ref_type=heads
# 2) Drag and drop the downloaded file to the "Files" section (left vertical menu on Colab)
# 3) Modify the path to your local file path
PATH_COLLECTION_DATA = '../data/subtask_4b/subtask4b_collection_data.pkl' #MODIFY PATH
df_collection = pd.read_pickle(PATH_COLLECTION_DATA)
df_collection.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7718 entries, 162 to 1056448
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   cord_uid          7718 non-null   object
 1   source_x          7718 non-null   object
 2   title             7718 non-null   object
 3   doi               7677 non-null   object
 4   pmcid             4959 non-null   object
 5   pubmed_id         6233 non-null   object
 6   license           7718 non-null   object
 7   abstract          7718 non-null   object
 8   publish_time      7715 non-null   object
 9   authors           7674 non-null   object
 10  journal           6668 non-null   object
 11  mag_id            0 non-null      float64
 12  who_covidence_id  528 non-null    object
 13  arxiv_id          20 non-null     object
 14  label             7718 non-null   object
 15  time              7715 non-null   datetime64[ns]
 16  timet             7718 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(14)
memory usage: 1.1+ MB

In [2]:
df_collection.head()

,cord_uid,source_x,title,doi,pmcid,pubmed_id,license,abstract,publish_time,authors,journal,mag_id,who_covidence_id,arxiv_id,label,time,timet
162,umvrwgaw,PMC,Professional and Home-Made Face Masks Reduce E...,10.1371/journal.pone.0002618,PMC2440799,18612429,cc-by,BACKGROUND: Governments are preparing for a po...,2008-07-09,"van der Sande, Marianne; Teunis, Peter; Sabel,...",PLoS One,NaN,NaN,NaN,umvrwgaw,2008-07-09,1215561600
611,spiud6ok,PMC,The Failure of R (0),10.1155/2011/527610,PMC3157160,21860658,cc-by,"The basic reproductive ratio, R (0), is one of...",2011-08-16,"Li, Jing; Blakeley, Daniel; Smith?, Robert J.",Comput Math Methods Med,NaN,NaN,NaN,spiud6ok,2011-08-16,1313452800
918,aclzp3iy,PMC,Pulmonary sequelae in a patient recovered from...,10.4103/0970-2113.99118,PMC3424870,22919170,cc-by-nc-sa,The pandemic of swine flu (H1N1) influenza spr...,2012,"Singh, Virendra; Sharma, Bharat Bhushan; Patel...",Lung India,NaN,NaN,NaN,aclzp3iy,2012-01-01,1325376000
993,ycxyn2a2,PMC,What was the primary mode of smallpox transmis...,10.3389/fcimb.2012.00150,PMC3509329,23226686,cc-by,The mode of infection transmission has profoun...,2012-11-29,"Milton, Donald K.",Front Cell Infect Microbiol,NaN,NaN,NaN,ycxyn2a2,2012-11-29,1354147200
1053,zxe95qy9,PMC,"Lessons from the History of Quarantine, from P...",10.3201/eid1902.120312,PMC3559034,23343512,no-cc,"In the new millennium, the centuries-old strat...",2013-02-03,"Tognotti, Eugenia",Emerg Infect Dis,NaN,NaN,NaN,zxe95qy9,2013-02-03,1359849600

Process Query File

In [4]:
# 1) Download the query tweets from the Gitlab repository: https://gitlab.com/checkthat_lab/clef2025-checkthat-lab/-/tree/main/task4?ref_type=heads
# 2) Drag and drop the downloaded file to the "Files" section (left vertical menu on Colab)
# 3) Modify the path to your local file path
PATH_QUERY_DATA = '../data/subtask_4b/subtask4b_query_tweets_train.tsv' #MODIFY PATH
df_query = pd.read_csv(PATH_QUERY_DATA, sep = '\t')
df_query.head()

   post_id                                         tweet_text  cord_uid
0        0  Oral care in rehabilitation medicine: oral vul...  htlvpvz5
1        1  this study isn't receiving sufficient attentio...  4kfl29ul
2        2  thanks, xi jinping. a reminder that this study...  jtwb17u8
3        3  Taiwan - a population of 23 million has had ju...  0w9k8iy1
4        4  Obtaining a diagnosis of autism in lower incom...  tiqksd69

In [6]:
df_query.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12853 entries, 0 to 12852
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   post_id     12853 non-null  int64
 1   tweet_text  12853 non-null  object
 2   cord_uid    12853 non-null  object
dtypes: int64(1), object(2)
memory usage: 301.4+ KB

In [5]:
positive_train_data = pd.DataFrame(columns=["query", "paper_data", "label"])
query = []

def flatten_positive(entry):
    entry_cord_id = entry.cord_uid
    query = entry.tweet_text
    title = df_collection.loc[df_collection["cord_uid"] == entry_cord_id, "title"].values[0]
    authors = df_collection.loc[df_collection["cord_uid"] == entry_cord_id, "authors"].values[0]
    abstract = df_collection.loc[df_collection["cord_uid"] == entry_cord_id, "abstract"].values[0]
    journal = df_collection.loc[df_collection["cord_uid"] == entry_cord_id, "journal"].values[0]

    paper_data = f"{title} [SEP] {authors} [SEP] {abstract} [SEP] {journal}"
    return pd.Series([query, paper_data, 1], index=["query", "paper_data", "label"])

positive_train_data = df_query.apply(lambda x: flatten_positive(x), axis = 1)
positive_train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12853 entries, 0 to 12852
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   query       12853 non-null  object
 1   paper_data  12853 non-null  object
 2   label       12853 non-null  int64
dtypes: int64(1), object(2)
memory usage: 301.4+ KB

In [6]:
positive_train_data.head()

,query,paper_data,label
0,Oral care in rehabilitation medicine: oral vul...,Oral Management in Rehabilitation Medicine: Or...,1
1,this study isn't receiving sufficient attentio...,Variation in racial/ethnic disparities in COVI...,1
2,"thanks, xi jinping. a reminder that this study...",Effect of non-pharmaceutical interventions for...,1
3,Taiwan - a population of 23 million has had ju...,Potential lessons from the Taiwan and New Zeal...,1
4,Obtaining a diagnosis of autism in lower incom...,Autism screening and conditional cash transfer...,1

In [9]:
NUM_NEGATIVE_SAMPLES = 5

negative_train_data = pd.DataFrame(columns=positive_train_data.columns)

def flatten_negative(entry):
    entry_cord_id = entry.cord_uid
    query = entry.tweet_text
    repeated_queries = [query] * NUM_NEGATIVE_SAMPLES
    abstracts = df_collection.loc[df_collection["cord_uid"] != entry_cord_id, "abstract"].sample(NUM_NEGATIVE_SAMPLES).values
    titles = df_collection.loc[df_collection["cord_uid"] != entry_cord_id, "title"].sample(NUM_NEGATIVE_SAMPLES).values
    authors = df_collection.loc[df_collection["cord_uid"] != entry_cord_id, "authors"].sample(NUM_NEGATIVE_SAMPLES).values
    journal = df_collection.loc[df_collection["cord_uid"] != entry_cord_id, "journal"].sample(NUM_NEGATIVE_SAMPLES).values
    paper_data = []

    for i in range(NUM_NEGATIVE_SAMPLES):
        full_str = f"{titles[i]} [SEP] {authors[i]} [SEP] {abstracts[i]} [SEP] {journal[i]}"
        paper_data.append(full_str)

    return pd.Series({"query": repeated_queries, "paper_data": paper_data, "label": [0]*NUM_NEGATIVE_SAMPLES}, index=["query", "paper_data", "label"])

negative_train_data = df_query.apply(lambda x: flatten_negative(x), axis = 1).explode(["query", "paper_data", "label"]).reset_index(drop=True)
negative_train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64265 entries, 0 to 64264
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   query       64265 non-null  object
 1   paper_data  64265 non-null  object
 2   label       64265 non-null  object
dtypes: object(3)
memory usage: 1.5+ MB

In [10]:
negative_train_data.head()

,query,paper_data,label
0,Oral care in rehabilitation medicine: oral vul...,Reopening the Bavarian State Opera safely: Hyg...,0
1,Oral care in rehabilitation medicine: oral vul...,Evaluation of mRNA-1273 Covid-19 Vaccine in Ch...,0
2,Oral care in rehabilitation medicine: oral vul...,Long-term mortality after childhood growth hor...,0
3,Oral care in rehabilitation medicine: oral vul...,Trends in Nonfatal and Fatal Overdoses Involvi...,0
4,Oral care in rehabilitation medicine: oral vul...,Self-Performed Lung Ultrasound for Home Monito...,0

In [12]:
mixed_train_set = pd.concat([negative_train_data, positive_train_data], ignore_index=True)
mixed_train_set.info()

mixed_train_set.to_csv('../data/bi-encoder-model-data/tweet-abs-pairs.tsv',sep='\t', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77118 entries, 0 to 77117
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   query       77118 non-null  object
 1   paper_data  77118 non-null  object
 2   label       77118 non-null  object
dtypes: object(3)
memory usage: 1.8+ MB